html, body {
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
}

#wrapper {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #274E98;
}

#box {
	width: 20vh;
	height: 20vh;
	display: flex;
	align-items: flex-end;
	justify-content: right;
	font-family: Helvetica, sans-serif;
	font-size: 5em;
	font-weight: bold;
	background-color: #f7df1e;
}